.container-form {
    display: grid;
    place-content: center;
}

.cnt {
    padding-top: 10px;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}

.label {
    padding-right: 10px;
}

.fav {
    margin-left: 1rem;
    background-color: rgb(151, 151, 151);
    border: none;
    padding: 0 8px;
    cursor: pointer;
}

.link-movie {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

h2 {
    color: rgb(226, 226, 226);
}

label {
    color: rgb(226, 226, 226);
}

ul {
    display: grid;
    gap: 1rem;
}

li {
    list-style: none;
}